In [1]:

# general imports for manual data manipulations. Not needed if only provided functions are used
import numpy as np
import pandas as pd

#specific imports from pygromos for trc and tre file support
import pygromos.files.trajectory.trc as traj_trc
import pygromos.files.trajectory.tre as traj_tre

# TRC - Class

In [2]:
trc = traj_trc.Trc(input_value="../example_files/Traj_files/test_CHE_vacuum_sd.trc")

/home/bschroed/anaconda3/envs/PyGrom3/lib/python3.9/site-packages/pandas/core/generic.py:2703: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['POS_1', 'POS_2', 'POS_3', 'POS_4', 'POS_5', 'POS_6', 'POS_7', 'POS_8',
       'POS_9', 'POS_10', 'POS_11', 'POS_12', 'POS_13', 'POS_14', 'POS_15',
       'POS_16', 'POS_17', 'POS_18'],
      dtype='object')]

  pytables.to_hdf(

# Tre Class

In [3]:
import numpy as np
import pandas as pd
import pygromos.files.trajectory.tre as traj_tre

# import the trajectory file into a Tre class
from pygromos.files.trajectory.tre_field_libs.ene_fields import gromos_2015_tre_block_names_table


#tre = traj_tre.Tre(input_value="../example_files/Traj_files/test_CHE_H2O_bilayer.tre", _ene_ana_names=gromos_2015_tre_block_names_table)
#tre = traj_tre.Tre(input_value="../example_files/Tutorial_System/g_md/analysis/data/g_md.tre.h5")
tre = traj_tre.Tre(input_value="/home/bschroed/Documents/projects/PyGromosTools_release3/examples/example_files/Tutorial_System/f_eq_thermalisation/analysis/data/f_eq_thermalisation.tre.h5")
tre.database.keys()

In [4]:
tre.time

0      0.00
1      0.02
2      0.04
3      0.06
4      0.08
       ...
495    9.82
496    9.84
497    9.86
498    9.88
499    9.90
Name: time, Length: 500, dtype: float64

In [5]:
tre.get_totals()

,totene,totkin,totpot,totcov,totbond,totangle,totimproper,totdihedral,totcrossdihedral,totnonbonded,...,totqm,totbsleus,totrdc,wip1,wip2,wip3,wip4,wip5,wip6,wip7
time,,,,,,,,,,,,,,,,,,,,,
0.00,-18707.18338,9001.643008,-27708.82639,201.652918,0.0,83.472090,31.355173,86.825656,0.0,-27910.47931,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.02,-21874.40225,9144.052649,-31083.51961,239.353796,0.0,105.446408,41.725063,92.182324,0.0,-31322.87341,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.04,-23369.50943,9007.286580,-32461.62635,235.272473,0.0,115.921132,33.059330,86.292011,0.0,-32696.89882,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.06,-24882.29137,8932.761094,-33884.09921,229.604203,0.0,114.667513,31.041145,83.895545,0.0,-34113.70341,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.08,-26308.45370,8217.344364,-34608.60906,223.666458,0.0,95.531319,45.645141,82.489998,0.0,-34832.27552,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9.82,-33984.04906,7228.953624,-41213.00269,262.300492,0.0,137.295921,48.842989,76.161583,0.0,-41475.30318,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9.84,-33968.58736,7232.753733,-41201.34109,237.335217,0.0,104.051898,47.793589,85.489731,0.0,-41438.67631,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9.86,-33984.23633,7232.380395,-41216.61673,258.506868,0.0,122.049920,41.120413,95.336535,0.0,-41475.12360,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9.88,-33971.51176,7158.715620,-41130.22738,240.807518,0.0,118.087761,39.165553,83.554203,0.0,-41371.03490,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9.90,-33941.42948,7178.210301,-41119.63979,245.094024,0.0,122.443823,43.712805,78.937396,0.0,-41364.73381,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
tre.get_totene()

time
0.00   -18707.18338
0.02   -21874.40225
0.04   -23369.50943
0.06   -24882.29137
0.08   -26308.45370
           ...
9.82   -33984.04906
9.84   -33968.58736
9.86   -33984.23633
9.88   -33971.51176
9.90   -33941.42948
Name: totene, Length: 500, dtype: float64

In [7]:
tre.get_eds()

      numstates
time
0.00        0.0
0.02        0.0
0.04        0.0
0.06        0.0
0.08        0.0
...         ...
9.82        0.0
9.84        0.0
9.86        0.0
9.88        0.0
9.90        0.0

[500 rows x 1 columns]

In [12]:
tre.get_temperature()

           bath1       bath2
time
0.00  337.733853  379.249510
0.02  140.247591  390.405454
0.04  158.286787  384.054332
0.06  194.417399  379.924943
0.08  148.085196  350.279078
...          ...         ...
9.82  309.897586  303.580973
9.84  333.245070  303.151191
9.86  281.230117  304.457362
9.88  303.331346  300.721693
9.90  292.611534  301.834125

[500 rows x 2 columns]

In [14]:
tre.get_nonbondedContributions()

{1: {1:      Lennard-Jones  Coulomb/RF  lattice sum real  lattice sum reciproc
  0       -49.758195 -762.060450               0.0                   0.0
  1       -43.154466 -764.352469               0.0                   0.0
  2       -55.276034 -752.245283               0.0                   0.0
  3       -72.339265 -748.238168               0.0                   0.0
  4       -71.978272 -750.589374               0.0                   0.0
  ..             ...         ...               ...                   ...
  495     -64.534736 -692.601669               0.0                   0.0
  496     -65.225064 -689.890251               0.0                   0.0
  497     -73.093945 -684.754692               0.0                   0.0
  498     -71.722587 -682.870949               0.0                   0.0
  499     -76.396290 -691.180471               0.0                   0.0

  [500 rows x 4 columns],
  2:      Lennard-Jones   Coulomb/RF  lattice sum real  lattice sum reciproc
  0       224.745840 -1403.049610               0.0                   0.0
  1       139.876765 -1596.589252               0.0                   0.0
  2        10.984995 -1599.595653               0.0                   0.0
  3       -44.054829 -1538.188033               0.0                   0.0
  4       -66.815225 -1539.819765               0.0                   0.0
  ..             ...          ...               ...                   ...
  495     -42.655965 -2003.156089               0.0                   0.0
  496     -53.759785 -1975.988906               0.0                   0.0
  497     -63.511509 -1996.317923               0.0                   0.0
  498     -31.412004 -1891.400958               0.0                   0.0
  499      -9.502844 -1931.478907               0.0                   0.0

  [500 rows x 4 columns]},
 2: {1:      Lennard-Jones   Coulomb/RF  lattice sum real  lattice sum reciproc
  0       224.745840 -1403.049610               0.0                   0.0
  1       139.876765 -1596.589252               0.0                   0.0
  2        10.984995 -1599.595653               0.0                   0.0
  3       -44.054829 -1538.188033               0.0                   0.0
  4       -66.815225 -1539.819765               0.0                   0.0
  ..             ...          ...               ...                   ...
  495     -42.655965 -2003.156089               0.0                   0.0
  496     -53.759785 -1975.988906               0.0                   0.0
  497     -63.511509 -1996.317923               0.0                   0.0
  498     -31.412004 -1891.400958               0.0                   0.0
  499      -9.502844 -1931.478907               0.0                   0.0

  [500 rows x 4 columns],
  2:      Lennard-Jones   Coulomb/RF  lattice sum real  lattice sum reciproc
  0      3334.225340 -29254.58223               0.0                   0.0
  1      3827.456046 -32886.11003               0.0                   0.0
  2      3887.747212 -34188.51406               0.0                   0.0
  3      3920.285672 -35631.16879               0.0                   0.0
  4      4186.175207 -36589.24809               0.0                   0.0
  ..             ...          ...               ...                   ...
  495    6940.508960 -45612.86368               0.0                   0.0
  496    6843.725667 -45497.53797               0.0                   0.0
  497    6668.136669 -45325.58220               0.0                   0.0
  498    6651.685025 -45345.31343               0.0                   0.0
  499    6509.567522 -45165.74282               0.0                   0.0

  [500 rows x 4 columns]}}

In [15]:
tre.get_bondedContributions()

{0:       bond       angle   improper   dihedral  crossdihedral
 time
 0.00   0.0   83.472090  31.355173  86.825656            0.0
 0.02   0.0  105.446408  41.725063  92.182324            0.0
 0.04   0.0  115.921132  33.059330  86.292011            0.0
 0.06   0.0  114.667513  31.041145  83.895545            0.0
 0.08   0.0   95.531319  45.645141  82.489998            0.0
 ...    ...         ...        ...        ...            ...
 9.82   0.0  137.295921  48.842989  76.161583            0.0
 9.84   0.0  104.051898  47.793589  85.489731            0.0
 9.86   0.0  122.049920  41.120413  95.336535            0.0
 9.88   0.0  118.087761  39.165553  83.554203            0.0
 9.90   0.0  122.443823  43.712805  78.937396            0.0

 [500 rows x 5 columns],
 1:       bond  angle  improper  dihedral  crossdihedral
 time
 0.00   0.0    0.0       0.0       0.0            0.0
 0.02   0.0    0.0       0.0       0.0            0.0
 0.04   0.0    0.0       0.0       0.0            0.0
 0.06   0.0    0.0       0.0       0.0            0.0
 0.08   0.0    0.0       0.0       0.0            0.0
 ...    ...    ...       ...       ...            ...
 9.82   0.0    0.0       0.0       0.0            0.0
 9.84   0.0    0.0       0.0       0.0            0.0
 9.86   0.0    0.0       0.0       0.0            0.0
 9.88   0.0    0.0       0.0       0.0            0.0
 9.90   0.0    0.0       0.0       0.0            0.0

 [500 rows x 5 columns]}

In [16]:
tre.get_specialContributions()

{0:       constraints  pos. restraints  dist. restraints  disfield res  \
 time
 0.00          0.0     2.187595e-29               0.0           0.0
 0.02          0.0     6.506471e+01               0.0           0.0
 0.04          0.0     8.483034e+01               0.0           0.0
 0.06          0.0     6.904674e+01               0.0           0.0
 0.08          0.0     8.281099e+01               0.0           0.0
 ...           ...              ...               ...           ...
 9.82          0.0     0.000000e+00               0.0           0.0
 9.84          0.0     0.000000e+00               0.0           0.0
 9.86          0.0     0.000000e+00               0.0           0.0
 9.88          0.0     0.000000e+00               0.0           0.0
 9.90          0.0     0.000000e+00               0.0           0.0

       dihe. restr.  SASA  SASA volume  jvalue  rdc  local elevation  \
 time
 0.00           0.0   0.0          0.0     0.0  0.0              0.0
 0.02           0.0   0.0          0.0     0.0  0.0              0.0
 0.04           0.0   0.0          0.0     0.0  0.0              0.0
 0.06           0.0   0.0          0.0     0.0  0.0              0.0
 0.08           0.0   0.0          0.0     0.0  0.0              0.0
 ...            ...   ...          ...     ...  ...              ...
 9.82           0.0   0.0          0.0     0.0  0.0              0.0
 9.84           0.0   0.0          0.0     0.0  0.0              0.0
 9.86           0.0   0.0          0.0     0.0  0.0              0.0
 9.88           0.0   0.0          0.0     0.0  0.0              0.0
 9.90           0.0   0.0          0.0     0.0  0.0              0.0

       path integral  angle restraint
 time
 0.00            0.0              0.0
 0.02            0.0              0.0
 0.04            0.0              0.0
 0.06            0.0              0.0
 0.08            0.0              0.0
 ...             ...              ...
 9.82            0.0              0.0
 9.84            0.0              0.0
 9.86            0.0              0.0
 9.88            0.0              0.0
 9.90            0.0              0.0

 [500 rows x 12 columns],
 1:       constraints  pos. restraints  dist. restraints  disfield res  \
 time
 0.00          0.0              0.0               0.0           0.0
 0.02          0.0              0.0               0.0           0.0
 0.04          0.0              0.0               0.0           0.0
 0.06          0.0              0.0               0.0           0.0
 0.08          0.0              0.0               0.0           0.0
 ...           ...              ...               ...           ...
 9.82          0.0              0.0               0.0           0.0
 9.84          0.0              0.0               0.0           0.0
 9.86          0.0              0.0               0.0           0.0
 9.88          0.0              0.0               0.0           0.0
 9.90          0.0              0.0               0.0           0.0

       dihe. restr.  SASA  SASA volume  jvalue  rdc  local elevation  \
 time
 0.00           0.0   0.0          0.0     0.0  0.0              0.0
 0.02           0.0   0.0          0.0     0.0  0.0              0.0
 0.04           0.0   0.0          0.0     0.0  0.0              0.0
 0.06           0.0   0.0          0.0     0.0  0.0              0.0
 0.08           0.0   0.0          0.0     0.0  0.0              0.0
 ...            ...   ...          ...     ...  ...              ...
 9.82           0.0   0.0          0.0     0.0  0.0              0.0
 9.84           0.0   0.0          0.0     0.0  0.0              0.0
 9.86           0.0   0.0          0.0     0.0  0.0              0.0
 9.88           0.0   0.0          0.0     0.0  0.0              0.0
 9.90           0.0   0.0          0.0     0.0  0.0              0.0

       path integral  angle restraint
 time
 0.00            0.0              0.0
 0.02            0.0              0.0
 0.04            0.0              0.0
 0.06            0.0              0.0
 0.08            0.0              0.0
 ...             ...              ...
 9.82            0.0              0.0
 9.84            0.0              0.0
 9.86            0.0              0.0
 9.88            0.0              0.0
 9.90            0.0              0.0

 [500 rows x 12 columns]}

In [17]:
tre.get_baths()

{0:       kinetic total  centre of mass  internal/rotational
 time
 0.00     199.267678        1.727293           197.540386
 0.02      82.748033        3.733777            79.014255
 0.04      93.391409       13.269526            80.121884
 0.06     114.708974       19.291389            95.417585
 0.08      87.372329        4.900502            82.471827
 ...             ...             ...                  ...
 9.82     182.843894        1.015354           181.828540
 9.84     196.619234        1.850293           194.768941
 9.86     165.929687        2.300111           163.629576
 9.88     178.969720        2.349578           176.620143
 9.90     172.644882        1.280250           171.364632

 [500 rows x 3 columns],
 1:       kinetic total  centre of mass  internal/rotational
 time
 0.00    8802.375330     3562.845539          5239.529791
 0.02    9061.304617     3577.227299          5484.077318
 0.04    8913.895170     3800.411509          5113.483661
 0.06    8818.052120     3988.916527          4829.135594
 0.08    8129.972035     3728.700202          4401.271834
 ...             ...             ...                  ...
 9.82    7046.109730     3465.136252          3580.973478
 9.84    7036.134499     3485.663302          3550.471197
 9.86    7066.450708     3447.385902          3619.064807
 9.88    6979.745899     3399.347111          3580.398789
 9.90    7005.565419     3460.613030          3544.952389

 [500 rows x 3 columns]}

In [18]:
tre.get_mass()

time
0.00    17520.0632
0.02    17520.0632
0.04    17520.0632
0.06    17520.0632
0.08    17520.0632
           ...
9.82    17520.0632
9.84    17520.0632
9.86    17520.0632
9.88    17520.0632
9.90    17520.0632
Name: mass, Length: 500, dtype: float64

In [19]:
tre.get_temperature_Info()

{0:            total          com          ir  scaling factor
 time
 0.00  337.733853   138.497941  341.853205        0.991391
 0.02  140.247591   299.382024  136.737996        0.994159
 0.04  158.286787  1063.978128  138.654801        0.993850
 0.06  194.417399  1546.823663  165.124752        0.993007
 0.08  148.085196   392.932396  142.721491        0.993996
 ...          ...          ...         ...             ...
 9.82  309.897586    81.413164  314.663095        0.999653
 9.84  333.245070   148.360330  337.057086        0.998660
 9.86  281.230117   184.427645  283.168907        1.000526
 9.88  303.331346   188.394011  305.649712        0.999951
 9.90  292.611534   102.653130  296.554795        1.000165

 [500 rows x 4 columns],
 1:            total         com          ir  scaling factor
 time
 0.00  379.249510  306.848933  451.252829        0.991281
 0.02  390.405454  308.087558  472.314406        0.991514
 0.04  384.054332  327.309227  440.397146        0.991531
 0.06  379.924943  343.544161  415.907760        0.991543
 0.08  350.279078  321.133113  379.058130        0.991669
 ...          ...         ...         ...             ...
 9.82  303.580973  298.433752  308.410196        0.999889
 9.84  303.151191  300.201638  305.783197        0.999906
 9.86  304.457362  296.905009  311.690800        0.999819
 9.88  300.721693  292.767683  308.360701        0.999954
 9.90  301.834125  298.044191  305.307891        0.999955

 [500 rows x 4 columns]}

In [20]:
tre.database.volume

0      [29.15461327, 3.077767162, 0.0, 0.0, 0.0, 3.07...
1      [29.28876143, 3.082480483, 0.0, 0.0, 0.0, 3.08...
2      [29.37780902, 3.085601245, 0.0, 0.0, 0.0, 3.08...
3      [29.41603182, 3.086938867, 0.0, 0.0, 0.0, 3.08...
4      [29.43162103, 3.087484085, 0.0, 0.0, 0.0, 3.08...
                             ...
495    [29.39845332, 3.086323844, 0.0, 0.0, 0.0, 3.08...
496    [29.41082298, 3.08675665, 0.0, 0.0, 0.0, 3.086...
497    [29.40716665, 3.08662873, 0.0, 0.0, 0.0, 3.086...
498    [29.40436699, 3.086530774, 0.0, 0.0, 0.0, 3.08...
499    [29.39948681, 3.08636001, 0.0, 0.0, 0.0, 3.086...
Name: volume, Length: 500, dtype: object

In [25]:
tre.database.pressure

0      [297.887613, -3148.182254, 1194.216824, 302.56...
1      [197.1301975, -1692.558634, 1194.291028, 177.3...
2      [111.5259605, -371.0934792, 1267.100705, 109.4...
3      [41.56182794, 726.7777861, 1338.069813, 89.317...
4      [27.24401339, 849.9571924, 1250.874931, 43.676...
                             ...
495    [27.33996666, 755.2665619, 1157.142929, 21.727...
496    [11.46965788, 993.9435962, 1162.609635, 16.641...
497    [-9.862440994, 1299.59988, 1154.586657, 5.2558...
498    [-2.744620472, 1172.469946, 1132.118032, -10.0...
499    [-9.971009562, 1304.005586, 1157.434304, -14.4...
Name: pressure, Length: 500, dtype: object

In [27]:
tre.get_density()

time
0.00    997.878076
0.02    993.307603
0.04    990.296771
0.06    989.009992
0.08    988.486138
           ...
9.82    989.601361
9.84    989.185152
9.86    989.308142
9.88    989.402336
9.90    989.566573
Name: density, Length: 500, dtype: float64

In [28]:
tre.get_temperature()

           bath1       bath2
time
0.00  337.733853  379.249510
0.02  140.247591  390.405454
0.04  158.286787  384.054332
0.06  194.417399  379.924943
0.08  148.085196  350.279078
...          ...         ...
9.82  309.897586  303.580973
9.84  333.245070  303.151191
9.86  281.230117  304.457362
9.88  303.331346  300.721693
9.90  292.611534  301.834125

[500 rows x 2 columns]